/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/framework/cache/data/
/public/assets/metronic
/resources/views/admin
/Modules/Acl/Resources/views/admin
/Modules/Blog/Resources/views/admin
/Modules/Cargo/Resources/views/admin
/Modules/Currency/Resources/views/admin
/Modules/Localization/Resources/views/admin
/Modules/Menu/Resources/views/admin
/Modules/Payments/Resources/views/admin
/Modules/Users/Resources/views/admin
/Modules/Widget/Resources/views/admin
.env
/temp
